* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .debug * {
  border: dotted 1px black;
} */

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  color: black;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.main-container h1 {
  font-size: 36px;
}

.main-container p {
  font-size: 15px;
}

#header-container {
  background-color: black;
  background-image: url("/img/jumbo.png");
  background-size: cover;
}

.nav-container {
  height: 70px;
  display: flex;
  justify-content: space-around;
}

.logo {
  min-height: 70px;
  min-width: 110px;
  display: flex;
  align-items: center;
}

.nav-container ul {
  height: 100%;
  min-width: 440px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.nav-container ul li {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
}

.login {
  min-height: 70px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-btn {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 12px;
}

#section-one {
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

#title {
  min-width: 440px;
  text-align: center;
  color: white;
}

#paragraph {
  max-width: 660px;
  color: white;
  text-align: center;
}

.button-container {
  width: 445px;
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.big-btn {
  border: none;
  border-radius: 25px;
  padding: 15px 17px;
  font-size: 16px;
}

.black-btn {
  background-color: #23272A;
  color: white;
}

.white-btn {
  background-color: white;
  color: black;
}

/* section with text and image */
.section {
  height: 669px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section-text  {
  max-width: 352px;
  min-height: 372px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.grey-section {
  background-color: #F6F6F6;
}

/* /section with text and image */

#section-five {
  height: 1147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  background-color: rgba(255, 102, 0, 0.648);
}

#section-five-text {
  width: 1011px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  background-color: rgba(255, 42, 0, 0.648);
}

#section-five-text h1 {
  width: 1011px;
  height: 84px;
  background-color: rgba(249, 241, 0, 0.648);
}

#section-five-text p {
  width: 1011px;
  height: 95px;
  background-color: rgba(249, 241, 0, 0.648);
}

#section-five-img {
  width: 1011px;
  height: 494px;
  background-color: rgba(255, 42, 0, 0.648);
}

#section-five-subtitle {
  margin-top: 71px;
  width: 1011px;
  height: 107px;
  background-color: rgba(255, 42, 0, 0.648);
}

#footer {
  height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 38, 255, 0.574);
}

#footer-menu {
  width: 1046px;
  height: 366px;
  display: flex;
  justify-content: space-between;
  gap: 67px;
  background-color: rgba(0, 195, 255, 0.574);
}

#footer-endbar {
  width: 1046px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 195, 255, 0.574);
}

#community {
  width: 214px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 255, 187, 0.574);
}

#community h1 {
  width: 214px;
  height: 75px;
  background-color: rgba(68, 255, 0, 0.574);
}

#community #social {
  width: 214px;
  height: 75px;
  background-color: rgba(68, 255, 0, 0.574);
}

.footer-link {
  width: 110px;
  height: 366px;
  background-color: rgba(0, 255, 187, 0.574);
}


.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-list li {
  height: 15px;
  background-color: rgba(68, 255, 0, 0.574);
}